body {
    background-color: #add8b0; 
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 20px;
}

.top-row {
    display: flex;    
    align-items: center; 
    gap: 40px;          
    background-color: rgb(239, 192, 192);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
    color: rgb(19, 113, 58);
    text-align: center;
}

.column {
    text-decoration: none; 
    color: #333;        
    background-color: #a78686;
    padding: 10px 20px;
    border-radius: 5px;    
    font-weight: bold;
    transition: 0.3s;    
}

.column:hover {
    background-color: navy;
    color: white;
}

.div {
    border-color: antiquewhite;
    padding: 25%;
}

p {
    color: #26491d; /* Dark gray text */
    text-align: center;
}

.menu-box {
    width: 200px;      
    border-radius: 8px;   
    margin: 20px;        
    box-shadow: 0 4px 6px rgba(147, 160, 202, 0.1);
}

image-container {
    text-align: center; 
    margin-top: 30px;   
}

.link-wrapper {
    display: inline-block; 
    vertical-align: top;
    background-color: rgb(179, 100, 73);
    padding: 10px;
    border-radius: 8px;
    font-style: italic;
}

.funny-list {
    list-style: disc;
    padding: 0;
    margin: 10px 0 0 0; 
    transition: color 0.3s ease;
}

.funny-list li a:hover {
    color: #ff6600; 
    text-decoration: underline; 
    cursor: pointer; 
}